/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    font-size: 62.5%; /* 1 rem = 10 px*/
    box-sizing: border-box; /* Evita que el padding modifique el tamaño de mis imagenes*/
}

body {
    font-size: 16px; /* 1 rem = 10 px*/
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Login styles */

.text-center {

    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.form-signin {
    background: linear-gradient(90deg, #84339f 19%, #904da4 40%, #9b50a1 63%, #82308d 90%);
    height: 30rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: .9rem;
    box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.36);
}
.elemento1 {
    display: flex;
    flex-direction: column;
}

.elemento1 form {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
 }

.form-login label {
    display: block
}

 form button,
.form-login input {
    width: 100%;
    border-radius: .3rem;
    border: none;
}

.elemento1 h2 {
    font-size: 4rem;
    margin-bottom: 1.6rem;
}

form button{
    margin-top: 2rem;
}

.back-list{
    margin-bottom: 5rem;
}

.name-hint {
    margin-top: 10px;
}
.logout-button {
    margin-top: -20px;
}