@model ERPBasico.Models.Posicion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Posicion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sueldo" class="control-label"></label>
                <input asp-for="sueldo" class="form-control" />
                <span asp-validation-for="sueldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label"></label>
                <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                <span asp-validation-for="EmpleadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JefeId" class="control-label"></label>
                <select asp-for="JefeId" class="form-control" asp-items="ViewBag.JefeId"></select>
                <span asp-validation-for="JefeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GerenciaId" class="control-label"></label>
                <select asp-for="GerenciaId" class="form-control" asp-items="ViewBag.GerenciaId"></select>
                <span asp-validation-for="GerenciaId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
