@model IEnumerable<ERPBasico.Models.Gerencia>

@{
    ViewData["Title"] = "ListarGerencias";
}

<h1>ListarGerencias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="ListarPosiciones" asp-route-idGerencia="@item.Id" asp-route-idEmpleado="@ViewData["idEmpleado"]">Seleccionar</a>
            </td>
        </tr>
}
    </tbody>
</table>
