@{
    ViewData["Title"] = "Home Page";

}

<section class="text-center">
    <main class="form-signin">
        <section class="elemento1">
            <h2>Login</h2>
            <a asp-action="Ingresar">Ingresar</a>            
        </section>
    </main>
    <link rel="stylesheet" href="~/css/site.css" />
</section>
