@{
    ViewData["Title"] = "Ingreso";

}

<section class="text-center">
    <main class="form-signin">
        <section class="elemento1">
            <h2>Login</h2>
            <div class="text-danger">@ViewBag.ErrorEnLogin</div>
            <form asp-action="Ingresar">
                <div class="form-login">
                    <label for="usuario">Email address</label>
                    <input name="usuario" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-login"> 
                    <label for="password">Password</label>
                    <input name="password" type="password" id="exampleInputPassword1">
                </div>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
    <link rel="stylesheet" href="~/css/site.css" />
</section>
